.container{
    height: 400px;
    background-color:blue;
    display: flex;
    align-items: center; /*center flex-start flex-end*/
    justify-content: center;

    /*justify-content: space-around;*/
    /*justify-content: flex-end;*/ /* center flex-start flex-end*/
    /*flex-wrap: nowrap;*/
    /*flex-direction: row-reverse;*/
}

.container > div{
    width: 100px;
    line-height: 75px;
    margin:15px;
    background-color:#fff;
    font-size: 30px;
    padding: 25px;
}
