*{
    margin: 0;
}

/* menu nav */
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
}

.container{
    background-color: gray;
}

.container .col1{
    float: right;
}

